body, h1, h2, h3, li
{
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body
{
position: relative;
width: 1440px;
height: 1024px;
background: #FAFAFA;
}
.sidebar
{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
width: 240px;
height: 1200px;
background: #F3F4F9;
border-radius: 0px;
  /* float:left;
  width:20%;
  margin-left:1% */
}
.header
{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
background: #FFFFFF;
width: 1200px;
height: 201px;
display: flex;
}
.header_title
{
  margin: auto;
}
.menu_title
{
  width: 61px;
  height: 24px;
  left: 60px;
  top: calc(50% - 24px/2);
  text-transform: uppercase;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.menu_part_name
{
  width: 122px;
  height: 22px;
  left: 76px;
  top: 19px;
  margin: 42px 0 42px;
  text-decoration: none;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;}

form
{
  border-radius: 0
  width:1020px;
  height: 28px;
  margin: auto;
  background-color: green;
}
input
{
  width:1080px;
  height: 52px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-sizing: border-box;
  border-radius: 50px;
  background-color: yellow;
  }
