body, h1, a
{
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}
*
{
  margin: 0;
  padding: 0;
}
body
{

}
.page
{
  width: calc(100vw - 17px);
  display: flex;
}
/* -----Левое меню----- */
.sidebar
{
  width: 16vw;
  background: #F3F4F9;
  min-width: 192px;
}
.logo
{
  position: relative;
  display: flex;
  margin: 40px;
  width: 50%;
  height: calc(50/1045 * 100%);
}
.nav
{

}
.logo_icon
{
  position: relative;
  display: flex;
  width: auto;
  height: auto;;
}
.logo_title
{
  position: relative;
  display: flex;
  margin: auto 0 auto calc(10/120 * 100%);
  width: 61px;
  height: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
}
.category
{
  width: calc(16vw - 3px);
  position: relative;
  display: flex;
  height: 64px;
  background-color:inherit;
  /* background-color: green; */
}
.category:before
{
  content:"";
  display:block;
  width: 3px;
  height: 64px;
  background-color: #34ABE0;
  position: absolute;
  top: 0;
  left: 0;
  opacity:0;
  transition: opacity .2s linear;
}
.category:hover
{
  cursor: pointer;
}
.category:hover:before
{
  opacity: 1;
}
.category:hover  .category_name
{
  color: #34ABE0;
}
.category:hover  .icon_line
{
  stroke: #34ABE0
}
.category:active:before
{
  top: 20px;
  height: 24px;
  opacity: 1;
}
.icons
{
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: auto 12px auto 40px;
  color: #333;
  transition: color .2s linear;
}
.icon_line
{
  transition: stroke .2s linear;
}
.category_name
{
  position: relative;
  width: 122px;
  height: 22px;
  margin: auto 0;
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align:left;
  color: #333333;
  transition: color .2s linear;
}
/* --------------------- */
.main_page
{
  width: 84vw;
  /* background-color: lightblue; */
}
/* -----Меню поиска----- */
.header
{
  display: block;
  height: 140px;
  padding: 30px 50px;
}
.title
{
  position: relative;
  display: inline-flex;
  width: 400px;
  height: 38px;
  margin: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: rgba(0, 0, 0, .85);
}
.search_box
{
  display: inline-flex;
  position: relative;
  width: calc(1080/1100 * 100%);
  height: 52px;
  margin: 10px;
  padding:  12px 16px 12px 44px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-sizing: border-box;
  border-radius: 50px;
}
.search_icon
{
  position: absolute;
  left: 1.5%;
  top: 30.7%;
}
.search
{
  position: relative;
  width: 100%;
  height: 28px;
  top: calc(50% - 14px);
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, .45);
  outline: none;
  /* margin: 12px 16px 12px 44px; */
}
.line
{
  height: 1px;
  background: #E5E5E5;
}
/* --------------------- */
/* Раздел купонов */
.search_results
{
  display: block;
  background: #FAFAFA;
  padding: 30px 50px 90px;
}
.cover
{
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.15));
  position: relative;
  display: inline-flex;
  margin: 10px;
  width: 28.9%;
  max-width: 347px;
  height: 161px;
}
.coupon
{
  display: flex;
  width: 100%;
  height: 161px;
  background: #fff;
  background-size: cover;
  border-radius: 10px;
  clip-path: polygon(
  0% 0%,
  100% 0%,
  100% 47%,
  98.5% 50%,
  100% 53%,
  100% 100%,
  0% 100%,
  0% 53% ,
  1.5% 50%,
  0% 47%)
}
.coupon:hover
{
  border: 1px solid #DF212D;
  box-sizing: border-box;
}
.image
{
  position: absolute;
  width: 130px;
  height: 161px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  object-fit: cover;
}
.top
{
  position: absolute;
  height: 36px;
  width: 306px;
  left: 20px;
  right: 20px;
  top: 16px;
  display: flex;
}
.bottom
{
  position: absolute;
  display: flex;
  width: 195px;
  height: 50px;
  left: 20px;
  right: 131px;
  bottom: 16px;
}
.topheader
{
  position: absolute;
  height: 16px;
  left: 0px;
  right: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.topdesc
{
  position: absolute;
  height: 16px;
  left: 0px;
  right: 0px;
  top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
}
.botnum
{
  position: absolute;
  height: 28px;
  left: 0px;
  right: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #DF212D;
}
.botlabel
{
  position: absolute;
  height: 16px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
}
@media screen and (max-width: 768px)
{
  .sidebar
  {
    display:none;
  }
}
